node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
# Ignore PDF files in the test/file directory (case insensitive)
[Tt]ests/[Ff]ile/**/*.pdf
tests/file/**/*.PDF


# But keep the directory structure
!tests/file/.gitkeep